/* @media only screen and (max-width: 600px) { */

#main {
  color: white;
  /* background-image: linear-gradient(to top left, grey, darkcyan); */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#episodesContainer {
  padding: 1.5rem 0;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* can change amount of columns in repeat bracket */
  grid-gap: 1rem;
}

#episode {
  text-align: center;
  border: solid .1rem black;
  padding: 0.5em;
  background-image: linear-gradient(to bottom, darkslategrey, black);
}

#episode:hover {
  /* opacity: 0.5; */
  color: black;
  border-color: transparent;
}

#episodeSummary {
  font-family: 'Questrial', serif;
  font-weight: lighter;
  line-height: 125%;
  font-size: 1.3em;
  border-top: groove white .1rem;
  padding-top: 1rem;
}

#header {
  text-align: center;
}

#footer {
  text-align: center;
}

#howManyEpisodesDisplayed {
  color: red;
}
